<footer class="text-center">
	<div class="footer-content d-flex align-center">
		<div class="container">
			<div class="logo">
		        <a routerLink="" class="hover-opacity"><img src="assets/images/logo-white.png" alt="logo"></a>
		    </div>
		    <ul class="footer-menu d-flex align-center justify-center flex-wrap pt-3 pb-9">
		      <li><a routerLink="" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/how-it-works" routerLinkActive="active">How it works</a></li>
          <li><a routerLink="/demo" routerLinkActive="active">Demo</a></li>
          <li><a routerLink="/blog/posts" [queryParams]="{page: 1}" routerLinkActive="active">Blog</a></li>
          <li><a routerLink="/faq" routerLinkActive="active" [queryParams]="{page: 1}">FAQ</a></li>
          <li><a routerLink="/about-us" routerLinkActive="active">About us</a></li>
          <li><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active">Contact US</a></li>
		    </ul>
		    <ul class="social d-flex align-center justify-center">
		    	<!--<li><a href="#"><i class="icon-instagram"></i></a></li>-->
		    	<li><a href="#"><i class="icon-facebook"></i></a></li>
		    	<li><a href="#"><i class="icon-twitter"></i></a></li>
		    	<li><a href="#"><i class="icon-g-plus"></i></a></li>
		    </ul>
		</div>
	</div>
	<div class="copyright">
		<p class="text-uppercase">Copyright 2019</p>
	</div>
</footer>


