<section class="privacy-policy-section">
  <div class="container cols-md-s-2">
    <div class="section-padding-sm col-12 col-md-6 m-auto">
      <ul class="article">
        <li>
          <h3 class="text-center mb-10">Privacy Policy</h3>
          <p>This Privacy Policy was last modified on May 24, 2018.</p>
          <p>Data Driven Systems, Inc ("us", "we", or "our") operates www.Kodeist.com (the "Site" or the “Platform”).
            This
            page informs you of our policies regarding the collection, use, and disclosure of personal information we
            receive from users of the Site.</p>

          <p class="mb-0">Additional definitions:</p>
          <ul>
            <li><span class="w-600">Clients ("Users"):</span> users who request the help of experts on the Site.</li>
            <li><span class="w-600">Engineer:</span> experts who provide services to Clients.</li>
          </ul>

          <p>We use your personal information only for providing services and improving the Site. By using the Site, you
            agree to the collection and use of information in accordance with this policy. Unless otherwise defined in
            agree to the collection and use of information in accordance with this policy. Unless otherwise defined in
            this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and
            Conditions,
            accessible at www.Kodeist.com .</p>
        </li>
        <li>
          <h4 class="w-500">1. Information We Collect and Receive</h4>
          <h5 class="w-500">1.1 Information You Give Us</h5>
          <p>This is information you actively give us while taking certain actions on our Site, such as creating an
            account, filling out your profile, and completing payment events.</p>
          <p>While using our Site, we may ask you to provide us with certain pieces of personally identifiable
            information
            that can be used to contact or identify you. Personally identifiable information ("personal information" or
            “personal data”) may include, but is not limited to, your name, email address, profile photo, and payment
            information.</p>
          <p>Through use of the Site, you may also provide us with data that is not personally identifiable
            (“non-identifying data”). This includes additional profile information, such as: your expertise, timezone,
            and
            language.</p>
          <h5 class="w-500">1.2 Information We Automatically Collect from Your Use of the Platform and Payment
            Services</h5>
          <p>In addition to information provided by you, we also collect information when you use the Platform,
            including
            usage information and log data.</p>
          <p>Usage Information
            When you use the Site, we collect information about your interactions with the Platform, such as requests
            posted, session history, freelance jobs, pages viewed, posts liked and followed, and payment history.
          </p>
          <p>Log Data and Device Information
            Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log
            Data"). This Log Data may include information such as your computer's Internet</p>
          <p>Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and
            date of your visit, the time spent on those pages, and other statistics.</p>
          <h5 class="w-500">1.3 Information We Collect from Third Parties</h5>
          <p>If you link, connect, or log in to your Kodeist account with a third-party service (e.g. Google, Twitter,
            GitHub), the third-party service may send us information, such as: your email and profile information from
            that service. This information varies and is controlled by that service or, as authorized by you, via your
            privacy settings at that service.</p>
        </li>
        <li>
          <h4 class="w-500">2. Cookies</h4>
          <p>Cookies are files with small amounts of data, which may include an anonymous unique identifier. Cookies are
            sent to your browser from a website and stored on your computer's hard drive. Like many sites, we use
            "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a
            cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our
            Site.</p>
          <p>Kodeist is owned and operated by Peeridea, Inc (“Kodeist”, “we”, “us”, and “our”). This Cookie Policy
            explains how we use cookies and similar technologies in the course of our business, including our websites
            that link to this Cookie Policy, such as www.kodeist.com , or any website or mobile application owned,
            operated, or controlled by us (collectively, “Websites” or “websites”). It explains what these technologies
            are, why and how we use them, as well as your rights with regards to controlling how they are used.</p>
          <p>To turn off cookies, please see the "How do I turn cookies off?" section.</p>
          <h5 class="font-sm w-500">What Are Cookies?</h5>
          <p>Cookies are small pieces of data stored by a website on your computer. Like many other sites, we use
            cookies
            to optimize your browsing experience. They allow us to maintain user preferences, provide reporting
            information, and personalize your content and experience. For example, if you have previously logged into
            your
            Kodeist account on your device, a cookie is what allows us to log you in automatically the next time you
            visit!</p>
          <h5 class="w-500">2.1 Why Do We Use Cookies?</h5>
          <p>We use cookies for several reasons. Some cookies are required for proper usage of our Websites and
            Services,
            which we refer to as “necessary” cookies. These cookies help us remember your preference for tools on our
            site.</p>
          <p>Other cookies enable us and the third parties we work with to gather statistics by tracking the actions of
            visitors to our Site. A portion of these are used for advertising purposes, as they allow us to track and
            target visitor interests. In addition, third parties also serve cookies through our Websites and Services
            for
            advertising, analytics, and other purposes, as described in more detail below.</p>
          <h5 class="w-500">2.2 How Does the Kodeist Website Use Cookies?</h5>
          <p>A visit to a page on the Kodeist website may generate the following types of cookies:</p>
          <ul class="list-circle">
            <li>
              <h5 class="font-sm w-500">Necessary cookies</h5>
              <p>__cfduid, Auth Token, Device ID, Sift Science, UID</p>
            </li>
            <li>
              <h5 class="font-sm w-500">Analytics cookies</h5>
              <p>Amplitude, CMT, FullStory, Google Analytics, Hotjar, Optimizely, UTM</p>
            </li>
            <li>
              <h5 class="font-sm w-500">Third-party cookies</h5>
              <p>AddThis, Algolia, Hubspot, and Stripe</p>
            </li>
            <li>
              <h5 class="font-sm w-500">Third-party advertising cookies</h5>
              <p>Adsense, Facebook, Google Adwords, Perfect Audience, Quora, SteelHouse, and Twitter</p>
            </li>
          </ul>
          <h5 class="font-sm w-500">Necessary Cookies</h5>
          <p>When you register for an account with Kodeist, we generate cookies that let us know whether you are signed
            in
            or not.</p>
          <p>Our servers use these cookies to work out which account you are signed in with and recognizes you on
            returning visits. It also allows us to associate any requests, posts, and comments you post with your
            username.</p>
          <p>While you are signed into our site, we combine information from these cookies with analytics cookies, which
            can be used to identify which pages you have seen on Kodeist. For account security purposes and fraud
            prevention, if you register for a Kodeist account, information such as your device fingerprint, browser
            fingerprint, and IP address will be collected.</p>
          <p>Without these cookies, you may experience difficulties using our site.</p>

          <h5 class="font-sm w-500">Analytics Cookies</h5>
          <p>Every time someone visits our website, an “anonymous analytics cookie” is generated.</p>
          <p>These cookies tell us whether or not you have visited the site before. Your browser will tell us if you
            have
            these cookies, and, if you don’t, we generate new ones.</p>
          <p>This allows us to track how many individual users we have, how often they visit the site, how our website
            is
            being used, and helps us customize our website for you and enhance your experience.</p>
          <p>Without signing into Kodeist, these cookies cannot be used to identify individuals, only devices. Logging
            in
            is what allows us to associate the data gathered by the “anonymous analytics cookie” to the specific user
            data
            tied to your Kodeist account, such as your username and email address.</p>
          <h5 class="font-sm w-500">Third-Party Cookies</h5>
          <p>Kodeist uses various third-party tools and services to allow you to have a more personalized experience,
            and
            also enable features like social sharing. These third-party tools and services are primarily used for the
            following purposes:</p>
          <ul class="list-circle">
            <li>Social sharing</li>
            <li>Analytics</li>
            <li>Site Optimization and Customization</li>
            <li>Advertising</li>
          </ul>
          <p>Please see the following section for more information about Advertising cookies.</p>
          <h5 class="font-sm w-500">Advertising Cookies</h5>
          <p>These cookies are used to make targeted advertising messages more relevant to you and your interests. They
            also prevent the same ad from continuously reappearing, ensure that ads are properly displayed, and may
            select
            ads based on your interests. These cookies are anonymous — they store information about what you are looking
            at on our site, but not about who you are.</p>
          <h5 class="w-500">2.3 How Do I Turn Cookies Off?</h5>
          <p>When accessing our site, you have the right to accept or reject all cookies apart from those listed under
            the
            “Necessary Cookies” section, which are integral to proper site functionality. The full list has been copied
            below for your convenience:</p>
          <ul class="list-circle">
            <li>Necessary cookies
              __cfduid, Auth Token, Device ID, Sift Science, UID
            </li>
            <li> Analytics cookies
              Amplitude, CMT, FullStory, Google Analytics, Hotjar, Optimizely, UTM
            </li>
            <li> Third-party cookies
              AddThis, Algolia, Hubspot, and Stripe
            </li>
            <li> Third-party Advertising cookies
              Adsense, Facebook, Google Adwords, Perfect Audience, Quora, SteelHouse, and Twitter
            </li>
          </ul>
          <p>If you are primarily concerned about third-party cookies generated by advertisers, you can turn these off
            by
            going to the <a target="_blank" href="http://www.youronlinechoices.com/uk">Your Online Choices</a> site or
            the
            <a target="_blank" href="http://www.aboutads.info/choices/">Your Ad Choices</a> site. You can also use <a
              target="_blank"
              href="http://optout.networkadvertising.org/?c=1">this site</a> to control all
            third-party online advertising.</p>
          <p>All modern browsers allow you to change your cookie settings, though disabling them means you may be unable
            to use our site or will experience issues when using our site. You can usually find these settings in the
            Options or Preferences menu of your browser. To understand and adjust these settings, the following links
            may
            be helpful:</p>
          <ul class="list-circle">
            <li><a target="_blank" href="https://support.google.com/chrome/answer/95647?hl=en&ref_topic=14666">Cookie
              settings in Chrome</a></li>
            <li><a target="_blank" href="http://support.mozilla.com/en-US/kb/Cookies">Cookie settings in Firefox</a>
            </li>
            <li><a target="_blank" href="https://support.apple.com/kb/PH17191?locale=en_US">Cookie settings in Safari
              web</a> and <a target="_blank"
                             href="http://support.apple.com/kb/HT1677">iOS</a></li>
            <li><a target="_blank"
                   href="http://windows.microsoft.com/en-GB/internet-explorer/delete-manage-cookies#ie=ie-10">Cookie
              settings in Internet Explorer</a></li>
          </ul>
          <h5 class="w-500">2.4 Changes to This Cookie Policy</h5>
          <p>We may update this Cookie Policy from time to time. We will notify you of any changes by posting the new
            Cookie Policy on our Site. You are advised to review this Cookie Policy periodically for any changes.</p>
        </li>
        <li>
          <h4 class="w-500">3. Use of Personal Information</h4>
          <h5 class="w-500">3.1 How We Use Personal Information</h5>
          <ul class="list-circle">
            <li>To send emails and other communications. We may use your email, name, and other information to send you
              notification emails and important Site and Account reminders.
            </li>
            <li>For billing, account management and other administrative matters. We use payment information you
              provide us to charge you for charges incurred on the Site. We may also access your personal data in order
              to
              help resolve disputes and answer your questions about your account.
            </li>
            <li>To investigate and help prevent security issues and abuse.
            </li>
            <li>For marketing and promotional purposes. We may display targeted marketing and promotional messaging to
              promote our Services or Site. This includes, but is not limited to, emails, in-app notifications, web and
              browser notifications, and displays.
            </li>
            <li>For data analysis purposes We may use aggregated client data to view trends across time to aid our
              product development.
            </li>
            <li>For testimonials and success stories. We may reveal your personal information as part of our
              testimonials and success stories. We will only ever do this with your explicit permission.
            </li>
          </ul>
          <h5 class="w-500">Disclosure of Personal Information to Third-Party Services</h5>
          <p>We may disclose your personal information to third-party services who act as our service providers or
            advertising partners. </p>
        </li>
        <li>
          <h4 class="w-500">4. Updating and Deleting Your Information</h4>
          <p>If you wish to update your account or profile information, you can do so from your Profile page (accessed
            from the dropdown menu at the top right of your dashboard.)</p>
          <p>When you delete your account from Profile page, we remove all personal data we have on record, including
            your
            name, email, photo, social profiles, IP, payment information, and payout information. This means all account
            deletions are permanent. We may retain some personal data for a period of time, as required by law, or if
            there are ongoing payment disputes. </p>
          <p>Please note that you may not be able to delete your account if you have pending payments, pending payouts,
            ongoing jobs, or disputes.</p>
        </li>
        <li>
          <h4 class="w-500">5. Data Storage, Retention, and Security</h4>
          <p>Your Personal Information is password protected and our main servers are locked and hosted by leading
            third-party vendors, such as Linode,Heroku and Amazon. Access to the host environment is secure. We maintain
            two types of logs: server logs and event logs. By using our Services or Site, you authorize us to transfer,
            store, and use your information in the United States and any other country where we operate.</p>
          <p>We may retain personal information under circumstances including but not limited to:</p>
          <ul class="list-circle">
            <li>When we have legal obligations that retain this data</li>
            <li>If we suspect there is fraud or scam</li>
            <li>If you have an ongoing dispute with a client</li>
          </ul>
        </li>
        <li>
          <h4 class="w-500">6. Changes To This Privacy Policy</h4>
          <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new
            Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>
        </li>
        <li>
          <h4 class="w-500">7. Contact Us</h4>
          <p>If you have any questions about this Privacy Policy, please contact our <a routerLink="/contact-us">
            support team.</a></p>
        </li>
      </ul>
    </div>
  </div>
</section>
