@media (max-width: $screen-sm-max) {
  .demo-code-sample {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .before-oblique-under {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
