@media (max-width: $screen-xs-max) {
  .with-left-sidebar {
    padding-left: 0;

    .page-content {
      width: calc(100% - 55px);
    }
  }

  .sidebar {
    width: 55px;
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .tab {
      padding: 0;

      a {
        display: block;
        padding: 12px 5px;
      }

      [class^="icon-"], [class*=" icon-"] {
        margin-right: 0;
      }
    }
  }

  .hide-sm-sidebar {
    display: none;
  }
}
