<!-- about us -->
<section class="section-padding-sm about-us">
  <div class="container text-center">
    <h1 class="mb-5">About us</h1>
    <div class="about-us width-900">
      <div class="cols-md-s-2 mt-10">
        <div class="col">
          <div class="bordered-img">
            <img src="assets/images/svg/fast.svg" alt="Lightening fast">
          </div>
        </div>
        <div class="col">
          <p class="w-600 text-left">We know a number of companies and individuals who spent thousands of dollars on
            programming tasks without being sure they get what they paid for. Sometimes you want to check the quality of
            the code your team or outsourcing partner or freelancers have delivered. Why not spend 0.1% of your
            development costs to be sure you get what you paid for? Our company will make sure your code is being
            processed in the correct and highest quality manner and that your project will be a success in the
            future. </p>
        </div>
      </div>
      <div class="cols-md-s-2 mt-10">
        <div class="col">
          <p class="w-600 text-left">Kodeist has been formed by enterpreneurs and senior engineers, so we know what your
            business needs and how to correctly review a code. Our team is made up of people who are not only
            professionals at what they do but are also caring about the customers' needs and expectations. Be sure that
            you will get the best out of your code and project development process if you trust the review of your code
            to our company!</p>
        </div>
        <div class="col">
          <div class="bordered-img">
            <img src="assets/images/svg/codereview.svg" alt="Professional Code review">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center mt-10">
    <h2 class="mb-5">Address</h2>
    <div class="d-inline-block text-center">
      <p class="w-600 mb-1 address">
        <i class="icon-map"></i>
        30 N Gould St Ste N,
      </p>
      <p class="w-600 mb-1">Sheridan, WY 82801</p>
      <p class="w-600">Data Driven Systems Inc</p>
    </div>
  </div>

</section>
<!-- end about us -->
