<button (click)="toggleTawkWidget()" *ngIf="!isTawkHidden"
        style="outline: none !important; cursor: pointer; visibility: visible !important; resize: none !important; overflow: visible !important; background: none
transparent !important; opacity: 1 !important; position: fixed !important; border: 0px !important; padding: 0px !important; transition-property: none !important;
z-index: 5555555555555 !important; float: none !important; height: 60px
!important; min-height: 60px !important; max-height: 60px !important; width: 60px !important; min-width: 60px !important; max-width: 60px !important; border-radius: 50% !important; transform: rotate(0deg) translateZ(0px) !important; transform-origin: 0px center 0px !important; margin: 0px !important; top: auto !important; bottom: 20px !important; right: 20px !important; left: auto !important; display: block !important;"></button>
