<!-- reset password section -->
<section class="section-bg section-padding-sm" *ngIf="isTokenValid && !tokenVerifyError">
  <div class="container cols-sm-2 justify-center">

    <div class="col-md-s-8 col-sm-7 m-0 br-lg bg-white border register-form relative">
      <div class="success-message-content" *ngIf="isFormValid">
        <div class="hidden-loader loading check" [ngClass]="{'paused success': isResetPassSuccess}">
          <div class="circle">
            <span class="cover"></span>
          </div>
        </div>
        <div class="hidden-content animated fadeInUp" *ngIf="isResetPassSuccess">
          <div class="mt-5 w-500">
            <h4 class="mb-3 mt-7">
              Congratulations!
            </h4>
            <p>
              Your password is successfully changed!
            </p>
            <p>
              Now you can Sign in
            </p>
            <a class="btn btn-md btn-primary mt-20" routerLink="/login" >Sign in</a>
          </div>
        </div>
      </div>

   <!--<div class="success-message-content" *ngIf="tokenVerifyError">
        &lt;!&ndash; form for resend email&ndash;&gt;

      </div>-->

      <div class="register-form-content">
        <h3>Reset password</h3>
        <form [formGroup]="form" novalidate (submit)="submitForm(form.value)">
          <div class="form-row" toggleErrClass [formControlElement]="form.get('password')">
            <input formControlName="password" type="password" id="new-password" [labelId]="'new-password-label'" appFocus/>
            <label for="new-password" id="new-password-label">New password</label>
            <div class="error-msg" *ngFor="let error of validationMessages.password">
              <p *ngIf="form.get('password').hasError(error.type)">{{error.message}}</p>
            </div>
          </div>

          <div class="form-row" toggleErrClass [formControlElement]="form.get('reenter_password')">
            <input formControlName="reenter_password" type="password" id="confirm-password" [labelId]="'confirm-password-label'" appFocus/>
            <label for="confirm-password" id="confirm-password-label">Reenter password</label>
            <div class="error-msg" *ngFor="let error of validationMessages.confirm_password">
              <p *ngIf="form.get('reenter_password').hasError(error.type)">{{error.message}}</p>
            </div>
          </div>

          <p class="error-text"  [ngClass]="{'active': isResetPassFailed}">{{errorMessage}}</p>

          <button type="submit" class="btn btn-sm btn-primary">Reset</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- reset password section -->

<app-forgot-password *ngIf="tokenVerifyError" [tokenVerifyError]="tokenVerifyError"></app-forgot-password>
