<ng-container>
  <div class="uploading-popup" id="progress-bar" #progressBar *ngIf="getStaticArray.length > 0" (window:resize)="onWindowResize()">
    <div class="uploading-popup-content">
      <button #minimize id="minimize-button" class="minimize" (click)="minimizeUploader(minimize, progressBar)">
          <i class="icon-arrow-down"></i>
      </button>
      <button class="close-btn" type="button" (click)="closeUploader()">
        <i class="icon-close"></i>
      </button>
      <p class="title">Uploading process</p>
      <ul class="uploading-elements simplebar-track-right-0" data-simplebar data-simplebar-auto-hide="false">
        <li *ngFor="let sample of getStaticArray; let i = index"
            [ngClass]="{'success': sample.uploadProgress === '100%' && !sample.error, 'error': sample.error}">
          <div class="file-name ellipsis">
            <span class="w-500 mr-3">{{sample?.sampleName}}</span>
          </div>
          <div class="progress"><span id="progress-bar-{{sample.sampleName}}" [ngStyle]="{'width': sample.uploadProgress}"></span>
          </div>
            <button class="status" id="close-button{{i}}"
                  [ngClass]="{'check': sample.uploadProgress === '100%' && !sample.error, 'warning': sample.error}"
                  (click)="closeSingleProgress(i)"
                  *ngIf="sample.uploadProgress === '100%' && !sample.error || sample.error">
            </button>
          <button class="cancel-process" *ngIf="sample.uploadProgress !== '100%' && !sample.error"
                  (click)="closeSingleProgress(i)">
          </button>
        </li>
      </ul>
    </div>
  </div>

</ng-container>

<app-cancellation-popup [id]="'cancel-sample-upload'" [cancelUpload]="cancelUpload" [continueUpload]="continueUpload"></app-cancellation-popup>
