<section class="section-padding-sm">
	<div class="container">
		<div class="steps">
			<div class="step">
				<div class="d-flex align-start step-text">
					<span class="mr-6">1</span>
					<div>
						<h5>Just hand it over</h5>
						<p>Just hand it over - Send us your file(files), zipped archive or provide a git access. Not sure how to do that? Let us know.</p>
					</div>
				</div>
				<div class="bordered-img highlight">
				    <img src="assets/images/svg/fast.svg" alt="Lightening fast">
				</div>
			</div>
			<div class="step d-flex align-center">
				<div class="bordered-img primary">
				    <img src="assets/images/svg/easy.svg" alt="Lightening fast">
				</div>
				<div class="d-flex align-start step-text">
					<div>
						<h5>All the best for you</h5>
						<p>Anything specific - Let us know if you need us to focus on anything specific, like business logic, code execution, speed or security. This will help us meet your expectations in a much more accurate way.</p>
					</div>
					<span class="ml-6">2</span>
				</div>
			</div>
			<div class="step">
				<div class="d-flex align-start step-text">
					<span class="mr-6">3</span>
					<div>
						<h5>As fast as it gets</h5>
						<p>As fast as it gets - We will do our best to review the code and deliver the reports ASAP, however we always make sure we spent as much time as needed to get the full picture. Our team is able to work within tight deadlines yet deliver a high quality job. We always discuss the time frames with our clients and choose the most reasonable options considering the project volume and other relevant details.</p>
					</div>
				</div>
				<div class="bordered-img highlight">
				    <img src="assets/images/svg/fast.svg" alt="Lightening fast">
				</div>
			</div>
			<div class="step">
				<div class="bordered-img primary">
				    <img src="assets/images/svg/fast.svg" alt="Lightening fast">
				</div>
				<div class="d-flex align-start step-text">
					<div>
						<h5 class="mb-3">Your convenience is utmost priority</h5>
						<p>Smart Dashboard - Keep your reviews organized and always reachable thanks to our smart and responsive dashboard. You can always access your reports or download them as PDF files - however you please!</p>
					</div>
					<span class="ml-6">4</span>
				</div>
			</div>
			<div class="step">
				<div class="d-flex align-start step-text">
					<span class="mr-6">5</span>
					<div>
						<h5 class="mb-3">Your code is yours</h5>
						<p>Privacy - While we preserve your reports as long as required, the source code you submitted will be automatically removed from our servers once we sent the report to you. We care for your privacy and guarantee the most secure code reviewal and completion process.</p>
					</div>
				</div>
				<div class="bordered-img highlight">
				    <img src="assets/images/svg/fast.svg" alt="Lightening fast">
				</div>
			</div>
			<div class="step">
				<div class="bordered-img primary">
				    <img src="assets/images/svg/dashboard.svg" alt="Lightening fast">
				</div>
				<div class="d-flex align-start step-text">
					<div>
						<h5 class="mb-3">Your satisfaction is the goal</h5>
						<p>Payments - We will charge you only after you have got your report and are satisfied with the results. Should you need more details about the specific points of the report, no problem - just ask us!</p>
					</div>
					<span class="ml-6">6</span>
				</div>
			</div>
		</div>
	</div>
</section>
