<!--Demo page Introduction-->
<!--<section class="bg-light-bg demo-section section-highlight">
  <div class="container cols-md-s-2 align-center">
    <div class="section-padding-sm col-md-6 m-auto">
      <h2 class="text-center">Introduction</h2>
      <p class="w-500 mt-4 text-center line-h-sm">You are only a few steps away from having your code checked with Kodeist. High
        quality,
        reliable and effective service for anyone who wants to have his/her project done perfectly - no
        more post-development drawbacks, no slow functionalities, and no unexpected change
        requirements. All of the above is possible if you trust your project’s code review to Kodeist.</p>
      <p class="w-500 mt-4 text-center line-h-sm">Here is what you need to do to get the best out of the services we offer:</p>
    </div>
  </div>
</section>-->
<!--Demo page Introduction-->

<!-- Submit Sample Demo section -->
<section class="bg-secondary after-bg-primary demo-section">
    <div class="container cols-md-s-2">
      <div class="col-md-7 col-md-s-8 pt-7 pb-7 img-demo-oblique before-oblique-under d-flex align-center justify-center">
        <div class="img-demo-bg">
          <img src="assets/images/demo/submit-sample.gif" class="second-img" alt="Submit Sample Demo Gif">
          <img src="assets/images/demo/submit-sample-gif.png" class="first-img" alt="Submit Sample Demo Png">
        </div>
      </div>
      <div class="col-md-5 col-md-s-4 section-padding bg-primary before-oblique after-oblique-reverse z-1">
        <h2 class="color-white demo-title">SUBMIT A CODE SAMPLE</h2>
        <p class="color-white-07 w-500 mt-4 line-h-sm">The initial stage consists of a few quick steps that will take
          close to no time from you. This is what you need to do:</p>
        <ul class="color-white-07 w-500 mt-4 list-circle mt-2 mb-2 light line-h-sm">
          <li>Sign up on Kodeist: it’s incredibly easy and fast. Sign in if you are already registered.</li>
          <li>Now go to your Dashboard and click on +Add sample button so as to submit your code sample.</li>
          <li>This will redirect you to an illustrated page where you will be asked to fill in a few fields and submit the
            code. The following are obligatory: Unique name of the code sample, repository link (in this case there will
            be no requirement for a zip file), short description of the code, and last but not least, the focus of the
            code checking process i.e. what you want to have reviewed exactly.
          </li>
        </ul>
        <p class="color-white-07 w-500 mt-4 line-h-sm italic">Note: You will be able to change or edit the code after its
          submission. Make sure you do that when the status of the code is “Pending” as you won’t have this functionality
          in case of a “In Review” code status.</p>
      </div>
    </div>
</section>
<!-- end Submit Sample Demo section -->

<!-- Payment Demo section -->
<section class="bg-light-bg demo-section section-highlight">
  <div class="container cols-md-s-2 align-center">
    <div class="col-md-5 col-md-s-4 section-padding">
      <h2 class="demo-title">CODE REVIEW</h2>
      <p class="w-500 mt-4 line-h-sm">Now that you have submitted your code sample, it’s high time to proceed to the
        second stage of your code review process which will include the following actions:</p>
      <ul class="list-circle mt-2 mb-2 line-h-sm">
        <li>Here is when our highly qualified developers come to the fore to review your code. A
          code review sample will be sent to you.
        </li>
        <li> When the developers are done with the reviewing of your code, you can find it in the
          Completed section on the dashboard.
        </li>
        <li> Feel free to download the file in .pdf and look up the issues detected in your code.</li>
      </ul>
    </div>
    <div class="col-md-7 col-md-s-8 pt-7 pb-7 z-1 img-demo-oblique text-md-s-right">
      <div class="img-demo-bg">
        <img src="assets/images/demo/pdf.gif" class="second-img" alt="PDF Demo Gif">
        <img src="assets/images/demo/pdf-gif.png" class="first-img" alt="PDF Demo Png">
      </div>
    </div>
  </div>
</section>
<!-- end Payment Demo section -->

<!-- Edit Profile section -->
<section class="bg-secondary before-bg-primary demo-section demo-dashboard">
  <div class="container cols-md-s-2">
    <div class="col-md-7 col-md-s-8 pt-7 pb-7 bg-primary before-oblique-under img-demo-oblique d-flex align-center">
      <div class="img-demo-bg">
        <img src="assets/images/demo/dashboard.gif" class="second-img" alt="Dashboard Demo Gif">
        <img src="assets/images/demo/dashboard-gif.png" class="first-img" alt="Dashboard Demo Png">
      </div>
    </div>
    <div class="col-md-5 col-md-s-4 before-oblique section-padding z-1">
        <div class="z-1">
          <h2 class="color-white demo-title">Dashboard</h2>
          <p class="w-500 mt-4 line-h-sm color-white-07 ">It’s also important to mention the way the dashboard should be used as part of this overall
            process. The dashboard enables you to manage all your code samples which you have
            submitted. By manage we mean the following functionalities and more:</p>
          <ul class="list-circle light mt-2 mb-2 line-h-sm color-white-07 ">
            <li>Editing</li>
            <li>Changing the deadlines</li>
            <li>Renaming</li>
            <li>Deletion</li>
            <li>Seeing the status</li>
          </ul>
          <p class="w-500 mt-4 line-h-sm color-white-07 ">The dashboard is made up of 3 main filters which are:</p>
          <ul class="list-circle light mt-2 mb-2 line-h-sm color-white-07 ">
            <li>Pending reviews (this includes the ones that have just been submitted and have not
              been started yet),</li>
            <li>On review (the ones in the reviewing process)</li>
            <li>Completed reviews (the code samples which have already been reviewed)</li>
          </ul>
        </div>
    </div>
  </div>
</section>
<!-- end Edit Profile section -->

<!-- Dashboard Demo section -->
<section class="bg-light-bg demo-section section-highlight">
  <div class="container cols-md-s-2 align-center">
    <div class="col-md-5 col-md-s-4 section-padding">
      <h3>PAYMENT</h3>
      <p class="w-500 mt-4 line-h-sm">At the 3rd stage you will be required to make the payment.</p>
      <p class="w-500 mt-4 line-h-sm">Kodeist pays back with high-quality service and effective results!</p>
    </div>
    <div class="col-md-7 col-md-s-8 pt-7 pb-7 z-1 img-demo-oblique text-md-s-right">
      <div class="img-demo-bg">
        <img src="assets/images/demo/payment.gif" class="second-img" alt="Payment Demo Gif">
        <img src="assets/images/demo/payment-gif.png" class="first-img" alt="Payment Demo Png">
      </div>
    </div>
  </div>
</section>
<!-- end Dashboard Demo section -->


