.toast-container {
  top: 85px;

  .toast {
    @include box-shadow(0px 3px 10px 3px rgba(0, 0, 0, 0.05));
    background-color: white;
    background-image: none;
    padding: 15px 15px 20px 70px;
    border-radius: $br-md-x;
    font-size: 14px;
    color: black;
    min-width: 300px;
    max-width: 370px;

    &:hover {
      @include box-shadow(0px 3px 10px 3px rgba(0, 0, 0, 0.15));
    }

    .toast-title {
      margin-bottom: 5px;
      font-size: 15px;
    }

    .toast-message {
      font-size: 13px;
    }

    .toast-title, .toast-message {
      color: $color-text;
      font-family: $font-primary;
    }

    .toast-close-button {
      color: rgba($color-gray, 0.3);
      @include transition(.3s ease);

      &:hover {
        color: darken($color-gray, 0.7);
      }
    }

    &.toast-success, &.toast-error {
      @include transition(all .3s ease);

      &:before {
        font-family: "icomoon-code-review";
        color: white;
        font-size: 22px;
        z-index: 3;
        @include centerer(false, -50%);
        left: 14px;
      }

      &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }

    &.toast-success {
      &:before {
        content: '\e900';
      }

      &:after {
        background-color: $color-primary;
      }
    }

    &.toast-error {
      &:before {
        content: '\e915';
      }

      &:after {
        background-color: #dc5c5c;
      }
    }
  }
}
