$icon-edit: "\e914";
$icon-dashboard: "\e913";
$icon-notification: "\e90e";
$icon-remove: "\e90f";
$icon-add-2: "\e910";
$icon-arrow-top: "\e912";
$icon-add: "\e90a";
$icon-arrow-down: "\e90b";
$icon-menu: "\e908";
$icon-check: "\e900";
$icon-facebook: "\e901";
$icon-g-plus: "\e902";
$icon-instagram: "\e903";
$icon-next: "\e904";
$icon-previous: "\e905";
$icon-search: "\e906";
$icon-twitter: "\e907";
$icon-close: "\e909";
$icon-file: "\e90c";
$icon-upload: "\e90d";
$icon-map: "\e911";
$icon-warning: "\e915";
$icon-user: "\e916";
$icon-download: "\e917";
$icon-circle: "\e918";
$icon-link: "\e919";