<!-- reset password section -->
<section class="section-bg section-padding-sm">
  <div class="container cols-sm-2 justify-center">
    <div class="col-md-s-8 col-sm-7 m-0 br-lg bg-white border register-form relative">
      <!--success-message-->
      <div class="success-message-content" *ngIf="isFormValid">
        <div class="hidden-loader loading check" [ngClass]="{'paused success': isForgotSuccess}">
          <div class="circle">
            <span class="cover"></span>
          </div>
        </div>
        <div class="hidden-content animated fadeInUp" *ngIf="isForgotSuccess">
          <div class="mt-5 w-500">
            <h4 class="mb-3 mt-7">
              Reset password link has been sent!
            </h4>
            <p>
              Please check your email to confirm password reset.
            </p>
            <a [href]="emailDomain" target="_blank" class="btn btn-md btn-primary mt-20">
              Check email
            </a>
            <p class="text-center mt-5">
              <a (click)="resendToken()" class="btn-link">resend email</a>
            </p>
          </div>
        </div>
      </div>
      <!--success-message-->


      <!--error message with button-->
     <!-- <div class="error-message-content">
        <div class="hidden-loader loading expired paused success">
          <div class="circle">
            <span class="cover">
            </span>
            <i class="icon-close"></i>
          </div>
        </div>
        <div class="hidden-content animated fadeInUp">
          <div class="mt-5 w-500">
            <h4>
              Reset password confirmation link has been expired.
            </h4>
            <p>
              Please click the button to receive the link again.
            </p>
            <a [href]="emailDomain" target="_blank" class="btn btn-md btn-primary">
              Send email
            </a>
          </div>
        </div>
      </div>-->
      <!--error message -->


      <div class="register-form-content load-hide before-success expired-link-form">
        <h3 *ngIf="!tokenVerifyError">Forgot password?</h3>
        <div class="mt-0 mb-5 w-500" *ngIf="tokenVerifyError">
          <h3 class="mb-4">
            Link has been expired.
          </h3>
          <p>
            Please enter your email to receive the link again.
          </p>
        </div>
        <form [formGroup]="form" (ngSubmit)="submitForm(form.value)" novalidate>
          <div class="form-row" toggleErrClass [formControlElement]="form.get('email')">
            <input formControlName="email" type="email" id="identify-email" [labelId]="'identify-email-label'" appFocus/>
            <label for="identify-email" id="identify-email-label">Enter your email</label>
            <div class="error-msg" *ngFor="let error of validationMessages.email">
              <p *ngIf="form.get('email').hasError(error.type)" >{{error.message}}</p>
            </div>
          </div>
          <p class="error-text" [ngClass]="{'active': errorMessage}">{{errorMessage}}</p>
          <button type="submit" class="btn btn-sm btn-primary mt-8">submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end reset password section -->
