<!-- registration section -->
<section class="section-bg section-padding-sm">
  <div class="container cols-sm-2 justify-center">

    <div class="col-md-4 col-md-s-6 br-lg bg-white plan">
      <div class="text-center">
        <!-- <h4 class="title color-light mb-4">starter</h4> -->
        <h4 class="w-900 color-text">For only <span class="color-text"> $10</span></h4>
        <p class="w-600 color-light mt-1 font-sm">per <span class="color-text">100</span> lines of code</p>
        <ul class="text-left mt-6">
          <li>Highly-qualified professionals</li>
          <li>Comprehensive review reports</li>
          <li>Advice and consulting for further improvement</li>
          <li>Fast response to the customer</li>
          <li>Individual approach</li>
        </ul>
        <div>
          <a class="btn btn-bordered mt-10" [routerLink]="getStartedUrl">get started</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-md-s-6 br-lg bg-white plan">
      <div class="text-center">
        <!-- <h4 class="title color-light mb-4">starter</h4> -->
        <h4 class="w-900 color-text">Customized Plan</h4>
        <p class="w-600 color-light mt-1 font-sm">designed just for <span class="color-text">you</span></p>
        <ul class="text-left mt-6">
          <li>Customized .pdf file </li>
          <li>Customized price depending on the amount of lines of the code</li>
          <li>Customized payment methods</li>
          <li>Special contracts if required</li>
          <li>Continuous interaction with code reviewers</li>
        </ul>
        <div>
          <a class="btn btn-bordered mt-10" routerLink="/contact-us">contact us</a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end registration section -->

